<div class="pokemon-container">
  <div class="pokemon-search">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix >search</mat-icon>
      <input matInput placeholder="Buscar por índice, nombre..." [formControl]="searchControl">
      <button mat-button color="primary" [disabled]="searchControl.invalid"  matSuffix (click)="search()">
        Buscar
      </button>
    </mat-form-field>
  </div>
  <div [class]="selectionDisabled && !isSelected(item)? 'pokemon-item pokemon-item-disabled':'pokemon-item'" (click)="selectItem(item)" *ngFor="let item of pokemonList" [appPokemonItem]="selectionDisabled">
    <div class="pokemon-picture" >
      <img *ngIf="item.url_image" [src]="item.url_image" alt="">
    </div>
    <div class="pokemon-label" >
      <span>#{{item.id | pokemonId}}&ensp;</span>
      <span>{{item.name | titlecase}}</span>
    </div>
  </div>
</div>
<div class="button-container">
  <button mat-raised-button color="primary" [disabled]="!isValid()" (click)="setPokemonGroup()">Continuar</button>
</div>
