
.brand{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.5rem;
  color: #185A7D;
  margin-top: 2%;
}
.form-left{
  margin-top: 3%;
  width: 50%;
  height: 85vh;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  .green-rectangle{
    width: 50%;
    height: 70%;
    background: #00693C;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    .text-container{
      box-sizing: border-box;
      padding-top: 50px;
      color: #FFFFFF;
      font-family: 'Poppins';
      font-size: 1.5rem;
    }
    .img-container{
      margin: auto;
      text-align: center;
      box-sizing: border-box;
      width: 12vw;
      height: 12vw;
      /* Primary/Azul/Azul 40 */

      background: #E7EFF5;
      /* Neutro / Blanco 00 */

      border: 14px solid #FFFFFF;
      border-radius: 50%;
      vertical-align: middle;
      z-index: 1;
      img{
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 50%;
      }
      .icon{
        display: table;
        height: 100%;
        margin: auto;
        i{
          display: table-cell;
          vertical-align: middle;
          color: #9BB8D3;
          margin-top: 5%;
          font-size: 50px;
        }
      }

    }
    .input-file{
      display: none;
    }
    .img-button{
      font-family: 'Poppins';
      /* input plate */
      box-sizing: border-box;
      margin-top: 10%;
      width: 80%;
      height: 50px;
      /* Neutro / Blanco 00 */

      background: #FFFFFF;
      /* Primary/Azul/Azul 40 */

      border: 1px dashed #9BB8D3;
      border-radius: 10px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
      color: #2C85BC;
      .text{
        font-weight: bold;
        display: inline-block;
        text-align: start;
        min-width: 80%;
        box-sizing: border-box;
        padding-left: 10px;
      }
      .icon{

        display: inline-block;
        text-align: end;
        min-width: 20%;
        box-sizing: border-box;
        padding-right: 10px;
      }
    }
  }
}
.form-right{
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-top: 2%;
  box-sizing: border-box;

  .title{
    display: flex;
    width: 100%;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #01426A;
    ;
  }
  .subtitle{
    color: #868686;
  }
  .pokemon-container{
    width: 100%;
    .pokemon-item{
      pointer-events: none;
      width: 30%;
      background: #F2F2F2;
      border-radius: 20px;
      display: inline-block;
      margin-right: 3%;
      margin-top: 12%;
      .pokemon-picture{
        pointer-events: auto;
        border-radius: 20px;
        margin: auto;
        text-align: center;
        img{
          margin-top: -40%;
          width: 80%;
        }
      }

      .pokemon-label{
        pointer-events: auto;
        box-sizing: border-box;
        color: #FFFFFF;
        background: #01426A;
        font-size: 0.8rem;
        font-family: 'Poppins';
        font-weight: 600;
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  .form-control{
    mat-form-field{
      width: 100%;
      .mat-chip, .chip-input{
        display: inline;
      }
      .chip-input{
        max-width: 20%;
      }
    }
  }
  .button-container{
    text-align: center;
  }
}


