.container{
  //background: #E5E5E5;
  box-sizing: border-box;
  .header{
    height: 50px;
    box-shadow: 0 0 28px 0 #78B1B5;
    background: #ffffff;
    padding: 10px;
    img{
      position: relative;
      height: 40px;
      border-radius: 0px;
    }
  }
  .content{
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.autocomplete{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;

  box-shadow: 0 0 28px 0 #78B1B50F;


}

