<div class="pokemon-list" *ngIf="profile">
  <div class="pokemon-item" *ngFor="let p of profile.pokemons">
    <div class="pokemon-info">
      <div class="pokemon-picture">
        <img [src]="p.url_image2 ? p.url_image2: p.url_image" alt="">
      </div>
      <div class="pokemon-name">
        <h1>{{p.name | titlecase}}</h1>
      </div>
      <div class="pokemon-type">
        <span *ngFor="let type of p.types">{{(type | pokemonType) | titlecase}}</span>
      </div>
    </div>
    <div class="pokemon-abilities">
      <div class="ability" *ngFor="let item of abilities">
        <div class="ability-name">
          {{item.name}}
        </div>
        <div class="ability-level">
          <mat-progress-bar mode="determinate" [value]="item.level" color="{{p.types[0]|typeColor}}"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
