.form-control{
  mat-form-field{
    width: 100%;
    .mat-chip, .chip-input{
      display: inline;
    }
    .chip-input{
      max-width: 20%;
    }
  }
}
.button-container{
  text-align: center;
}
